body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#banner {
    background-color:  rgb(123, 123, 216);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: left;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: rgb(86, 167, 86);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgb(86, 167, 86);
}